# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName rehabmypatient.com
AuthUserFile /home/rehabmyp/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/rehabmyp/public_html/_vti_pvt/service.grp
