


.verdanaOrangeBold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; text-decoration: none; color: #D13401}
.verdanaOrangeBold14 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; color: #FFC233}
.verdanaBold2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333333; text-decoration: none}
.verdanaRed2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FF0000; text-decoration: none}
.verdanaSlimLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000055}
.verdanaBold2Orange { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFC233; text-decoration: none }
.verdanaBlackBold11 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; text-decoration: none }
.verdanaBlueBold11 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #0000FF; text-decoration: none }
.verdanaBlackBold13 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #000000; text-decoration: none }

.verdanaBlackBoldLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333333; text-decoration: underline}
.verdanaRedBoldLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FF0000; text-decoration: underline}

.verdanaSlimLinkRed {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #FF0000; text-decoration: none }
.verdanaSlimLinkRed:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #FF0000; text-decoration: underline }

.verdanaSmallBlack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #000000; text-decoration: none }
.verdanaBlack11 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; text-decoration: none }
.textarea_text { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #333333; text-decoration: none ; font-style: normal; font-variant: normal; text-transform: none}
.verdanaBlack10 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #333333; text-decoration: none }
.verdanaBlackSlim11 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; text-decoration: none}
.verdanaBlackSlim12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; color: #000000; text-decoration: none}
.verdanaBlackSlim11_link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; text-decoration: underline}
.verdanaGraySlim11 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666666; text-decoration: none }
