<div class="GrayBorder">
<table width="156" border="0" cellspacing="0" cellpadding="0">


  <tr> 
    <td height="20" valign="middle"><div class="{CLASS_WPAGE}">Web Pages</div></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=web_page_add" class="MenuLink">Add Web Page</a></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=web_page_list" class="MenuLink">List Web Pages</a></td>
  </tr>

   
  <tr> 
    <td height="20"><div class="{CLASS_CBOX}">Content Boxes</div></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=cbox_add" class="MenuLink">Add Content Box</a></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=cbox_list" class="MenuLink">List Content Boxes</a></td>
  </tr>
  
   
  <tr> 
    <td height="20"><div class="{CLASS_MENU_LINKS}">Menu Links</div></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=menu_link_add" class="MenuLink">Add Menu Link</a></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=menu_select" class="MenuLink">List Menu Links</a></td>
  </tr>
  <tr> 
    <td height="20"><div class="{CLASS_TAG}">Alias Tag Library</div></td>
  </tr>
 
    <td height="18"><a href="index.php?pag=tag_select" class="MenuLink">List Alias Tags</a></td>
  </tr>
  
  
  <tr> 
    <td height="20"><div class="{CLASS_PAGE_TYPE}">Page Types</div></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=page_type_add" class="MenuLink">Add 
      Page Type</a></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=page_type_list" class="MenuLink">List 
      Page Types</a></td>
  </tr>
   
  <tr> 
    <td height="20"><div class="{CLASS_MENU}">Site Menus</div></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=menu_add" class="MenuLink">Add Site Menu</a></td>
  </tr>
  <tr> 
    <td height="18"><a href="index.php?pag=menu_list" class="MenuLink">List Site Menus</a></td>
  </tr>
  
  <tr> 
    <td height="20" bgcolor="#FFFFCC"><div class="{CLASS_MTEMPLATE}">Menu Templates</div></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=menu_file_add" class="MenuLink">Add Menu Template File 
      </a></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=menu_file_list" class="MenuLink">List Menu Template Files</a></td>
  </tr>

  <tr> 
    <td height="20" bgcolor="#FFFFCC"><div class="{CLASS_ATAG}">Dynamic Boxes</div></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=action_box_add" class="MenuLink">Add Dynamic Box 
      </a></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=action_box_list" class="MenuLink">List Dynamic Boxes</a></td>
  </tr>
  

  <tr> 
    <td height="20" bgcolor="#FFFFCC"><div class="{CLASS_CTEMPLATE}">Content Box Templates</div></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=ctemplate_add" class="MenuLink">Add Template 
      </a></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=ctemplate_list" class="MenuLink">List Templates</a></td>
  </tr>

   
  <tr> 
    <td height="20" bgcolor="#FFFFCC"><div class="{CLASS_WTEMPLATE}">Web Page Templates</div></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=template_add" class="MenuLink">Add 
      Template</a></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=template_list" class="MenuLink">List 
      Templates</a></td>
  </tr>

   
  <tr> 
    <td height="20" bgcolor="#FFFFCC"><div class="{CLASS_SETTINGS}">Settings</div></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=admin_settings" class="MenuLink">Edit 
      Settings</a></td>
  </tr>


  
  <tr> 
    <td height="20"><div class="MenuTitle"><a href="index.php?act=auth-logout" class="MainMenuLink">Logout</a></div></td>
  </tr>
</table>
</div>