<div class="GrayBorder">
  <table width="156" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="20"><div class="{CLASS_MEMBER}">Members</div></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=member_add" class="MenuLink">Add Member</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=member_list&active=2&trial=0" class="MenuLink">Full Paid Members</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=member_list&active=2&trial=1" class="MenuLink">Trial Members</a></td>
    </tr>
	<tr>
      <td height="18"><a href="index.php?pag=member_list&active=1" class="MenuLink">New Members</a></td>
    </tr>
	<tr>
      <td height="18"><a href="index.php?pag=member_list&active=0" class="MenuLink">Blocked Members</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=member_logs" class="MenuLink">Members Logs</a></td>
    </tr>
    <tr>
      <td height="20" bgcolor="#FFFFCC"><div class="{CLASS_SYSMSG}">Sys Messages</div></td>
    </tr>
    <tr>
      <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=sys_message_list" class="MenuLink">List Sys Messages</a></td>
    </tr>
  <tr>
	<td height="20"><div class="{CLASS_SETTINGS}">Member Module Settings</div></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=member_template_czone_add" class="MenuLink">Add Template Zone</a></td>
  </tr>
  <tr> 
    <td height="18" bgcolor="#FFFFCC"><a href="index.php?pag=member_template_czone_list" class="MenuLink">List Template Zones</a></td>
  </tr> 
   <tr>
      <td height="20"><div class="{CLASS_PRICES}">Price Plans</div></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=price_add" class="MenuLink">Add Price</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=price_list" class="MenuLink">Price List</a></td>
    </tr>
    <tr>
      <td height="20"><div class="MenuTitle"><a href="index.php?act=auth-logout" class="MainMenuLink">Logout</a></div></td>
     </tr>
  </table>
</div>