<div class="GrayBorder">
  <table width="156" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="20" valign="middle"><div class="{CLASS_PROGRAM_CATEGORY}">Programs Category</div></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=programs_category_add" class="MenuLink">Add Programs Category</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=programs_category_list" class="MenuLink">List Programs Category</a></td>
    </tr>
    <tr>
      <td height="20" valign="middle"><div class="{CLASS_PROGRAM}">Programs</div></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=programs_add_new" class="MenuLink">Add Programs</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=programs_list" class="MenuLink">List Programs</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=programs_upload" class="MenuLink">Upload Excel List Programs</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=programs_tags_upload" class="MenuLink">Upload Programs Tags</a></td>
    </tr>
    <tr>
      <td height="20"><div class="MenuTitle"><a href="index.php?act=auth-logout" class="MainMenuLink">Logout</a></div></td>
    </tr>
  </table>
</div>