<div class="GrayBorder">
  <table width="156" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="20" valign="middle"><div class="{CLASS_PROGRAM_CATEGORY}">User Statistic</div></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=statistic_user_login" class="MenuLink">Login Statistic</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=statistic_patient_created" class="MenuLink">Patients Statistic</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=statistic_export_users" class="MenuLink">Export User Contacts</a></td>
    </tr>
    <tr>
      <td height="18"><a href="index.php?pag=statistic_export_expired_users" class="MenuLink">Export Expired Users</a></td>
    </tr>
    <tr>
      <td height="20"><div class="MenuTitle"><a href="index.php?act=auth-logout" class="MainMenuLink">Logout</a></div></td>
    </tr>
  </table>
</div>