
<table width="95%"  border="0" cellspacing="2" cellpadding="2" align="center" class="GrayBorder">
  <tr>
    <td width="50%" height="20">{NAME}</td>
    <td width="50%">{TAG}</td>
  </tr>
  <tr>
    <td colspan="2">{DESCRIPTION}</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">{TEMPLATE_NAME} - {FILE_NAME}</td>
  </tr>
  <tr>
    <td colspan="2"><a href="template_preview.php?template_id={TEMPLATE_ID}" class="verdanaSlimLink" target="_blank">Preview</a></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
