<html>
<head>
<title>{SITE_NAME}&nbsp;&nbsp;&nbsp;Administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="se.css" type="text/css">
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="layout.css" type="text/css">
<script language="JavaScript" src="se.js">
</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../img/spacer.gif" width="1" height="10"></td>
  </tr>
</table>
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0" class="BlackBorder">
  <tr>
    <td height="30" bgcolor="#91A1B0" class="verdanaWhiteBold14">&nbsp;&nbsp;{SITE_NAME} Administration</td>
  </tr>
  <tr>
    <td height="1" align="right" bgcolor="#000000"><img src="../img/spacer.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td height="20" align="right" bgcolor="#EEEEEE">{MAIN_MENU}</td>
  </tr>
  <tr>
    <td height="20" align="right" bgcolor="#EEEEEE">
	<table width="780" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td width="160" align="left" valign="top">
		
		{MENU}		</td>
		<td width="620" height="500" align="center" valign="top" class="GrayBorder">{PAGE}</td>
	  </tr>
	</table>

	</td>
  </tr>
</table>

</body>
</html>
