 
<form action="index.php?pag=login" method="POST">
  <input type="hidden" name="act" value="auth-login">
  <table width="305" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td height="25" width="1"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td height="25" width="131"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td height="25" width="167"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td height="25" width="1"><img src="../img/spacer.gif" width="1" height="1"></td>
    </tr>
    <td align="center" colspan=4><font color="red" size=-1>{ERROR}</font></td>
    <tr> 
      <td height="1" bgcolor="#000000" width="1"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td height="1" bgcolor="#000000" width="131"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td height="1" bgcolor="#000000" width="167"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td height="1" bgcolor="#000000" width="1"><img src="../img/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr valign="middle"> 
      <td bgcolor="#000000" width="1" height="40"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td width="131" align="right" height="40" bgcolor="#EFEFEF" class="verdanaBold2">Username:&nbsp; 
      </td>
      <td width="167" height="40" bgcolor="#EFEFEF"> 
        <input type="text" name="login" class="BoxStyle2" size="10">
      </td>
      <td bgcolor="#000000" width="1" height="40"><img src="../img/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr valign="middle"> 
      <td bgcolor="#000000" width="1" height="40"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td width="131" align="right" height="40" bgcolor="#EFEFEF" class="verdanaBold2"> 
        Password:&nbsp;</td>
      <td width="167" height="40" bgcolor="#EFEFEF"> 
        <input type="password" name="password" size="10" class="BoxStyle2">
      </td>
      <td bgcolor="#000000" width="1" height="40"><img src="../img/spacer.gif" width="1" height="1"></td>
    </tr>
  </table>
  <table width="305" cellpadding="0" cellspacing="0" border="0">
    <tr> 
      <td bgcolor="#000000" height="40" width="1"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td align="center" height="40" bgcolor="#91A1B0" width="297"> 
        <input type="image" border="0" name="imageField" src="../img/lex_login.gif" width="84" height="20">      </td>
      <td bgcolor="#000000" width="1" height="40"><img src="../img/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr> 
      <td bgcolor="#000000" width="1" height="1"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td bgcolor="#000000" height="1" width="297"><img src="../img/spacer.gif" width="1" height="1"></td>
      <td bgcolor="#000000" height="1" width="1"><img src="../img/spacer.gif" width="1" height="1"></td>
    </tr>
  </table>
</form>
