
<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div class="PageTitle">{PAGE_TITLE}</div></td>
  </tr>
  </tr>
  <tr>
    <td align="center" class="verdanaRed11" bgcolor="#E8E8E8">{MESSAGE}</td>
  </tr>
</table>
<table width="621" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="4" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="207" height="20" bgcolor="#E8E8E8"><strong> Name</strong></td>
			<td width="255" bgcolor="#E8E8E8"><strong>File</strong></td>
			<td width="81" bgcolor="#E8E8E8"><strong>Menu Type </strong></td>
			<td width="74" align="center" bgcolor="#E8E8E8"><strong>Action</strong></td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td align="center" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- BEGIN DYNAMIC BLOCK: template_row -->
		  <tr bgcolor="{BG_COLOR}"  onMouseOver="this.bgColor='#CCCCCC';" onMouseOut="this.bgColor='{BG_COLOR}';">
			<td width="4" height="20">&nbsp;</td>
			<td width="207" height="20">{NAME}</td>
			<td width="255" class="verdanaSmall">{FILE_NAME}</td>
			<td width="81" class="verdanaSmall">{TYPE}</td>
			<td width="74" align="center" class="verdanaSmall">
			  <a href="{EDIT_LINK}" class="verdanaSlimLinkRed">Edit</a> /
              <a href="{DELETE_LINK}" class="verdanaSlimLinkRed" onclick="javascript:return confirm('Are you sure about deleting this Menu Template File?');">Delete</a>
			</td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td align="center" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- END DYNAMIC BLOCK: template_row -->
	  </table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="20" bgcolor="#E8E8E8">&nbsp;</td>
  </tr>
</table>
