
<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div class="PageTitle">{PAGE_TITLE}</div></td>
  </tr>
  <tr>
    <td align="center" class="verdanaRed11" bgcolor="#E8E8E8">{MESSAGE}</td>
  </tr>
</table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="10" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="610" height="20" bgcolor="#E8E8E8"><strong> Menu Name</strong></td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- BEGIN DYNAMIC BLOCK: menu_row -->
		  <tr bgcolor="{BG_COLOR}"  onMouseOver="this.bgColor='#CCCCCC';" onMouseOut="this.bgColor='{BG_COLOR}';">
			<td width="10" height="20">&nbsp;</td>
			<td width="610" height="20"><a href="{MENU_LINK}" class="verdanaLink"><img src="../img/folder.gif" width="18" height="18" hspace="0" vspace="0" border="0">{NAME}</a></td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- END DYNAMIC BLOCK: menu_row -->
</table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#E8E8E8">
      <td width="202" height="20" align="right" valign="middle">{BACKLINK}</td>
      <td width="204" height="20" align="center" valign="middle" class="verdanaBlackSlim11">
        <form name="pagination" method="post" action="index.php">
      		{PAG_DD}
	  	</form> </td>
      <td width="214" height="20" valign="middle">{NEXTLINK}</td>
    </tr>
</table>
