<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div class="PageTitle">{PAGE_TITLE}</div></td>
  </tr>
  </tr>
  <tr>
    <td align="center" class="verdanaRed11" bgcolor="#E8E8E8">{MESSAGE}</td>
  </tr>
</table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="4" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="95" height="20" bgcolor="#E8E8E8"><strong>Licence Name</strong></td>
			<td width="114" height="20" bgcolor="#E8E8E8"><strong>Place logo</strong></td>
			<td width="114" height="20" bgcolor="#E8E8E8"><strong>Create an Exercise Programme</strong></td>
			<td width="114" height="20" bgcolor="#E8E8E8"><strong>Email</strong></td>
			<td width="114" height="20" bgcolor="#E8E8E8"><strong>Photo and lineart</strong></td>
			<td width="117" height="20" bgcolor="#E8E8E8"><strong>Licence Amount</strong></td>
			<td width="114" height="20" bgcolor="#E8E8E8"><strong>Licence Period</strong></td>
			<td width="114" height="20" bgcolor="#E8E8E8"><strong>Value</strong></td>
			<td width="62" align="center" bgcolor="#E8E8E8"><strong>Action</strong></td>			
		  </tr>
		  <tr>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td align="center" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- BEGIN DYNAMIC BLOCK: message_row -->
		  <tr bgcolor="{BG_COLOR}"  onMouseOver="this.bgColor='#CCCCCC';" onMouseOut="this.bgColor='{BG_COLOR}';">
			<td width="4" height="20">&nbsp;</td>
			<td width="95" height="20">{PRICE_PLAN_NAME}</td>
			<td width="95" height="20">{HAS_LOGO}</td>
			<td width="95" height="20">{CAN_CREATE_EXERCISE}</td>
			<td width="95" height="20">{EMAIL}</td>
			<td width="95" height="20">{PHOTO_LINEART}</td>
			<td width="117" height="20">{AMOUNT}</td>
			<td width="114" height="20">{PERIOD}</td>
			<td width="114" height="20">{VALUE}</td>
			<td width="62" align="center" class="verdanaSmall">
			  <a href="{EDIT_LINK}" class="verdanaSlimLinkRed">Edit</a> 
			</td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td align="center" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- END DYNAMIC BLOCK: message_row -->
		  <tr>
			<td width="4" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="95" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="117" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="114" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="114" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="114" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="62" align="center" bgcolor="#E8E8E8">&nbsp;</td>
		  </tr>
	  </table>