<table width="620" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><div class="PageTitle">{PAGE_TITLE}</div></td>
	</tr>
  <tr>
    <td align="center" class="verdanaRed11">{MESSAGE}</td>
  </tr>
</table>
<form action="" method="post" enctype="multipart/form-data">
<input type="hidden" name="pag" value="{PAG}" />
<input type="hidden" name="act" value="{ACT}" />
<input type="hidden" name="programs_id" value="{PROGRAMS_ID}" />
<br />
<table width="620" border="0" cellspacing="0" cellpadding="0">
	
	<tr>
		<td>&nbsp;</td>
		<td><strong>Upload programs : </strong></td>
		<td><input type="file" name="programs" size="30"  class="txtField" /></td>
		<td align="right"></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td bgcolor="#F5F5F5" colspan="3"><input type="submit" name="send" value="Upload" class="button" /></td>
		<td>&nbsp;</td>
	</tr>
</table>
</form>