<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="679"><div class="PageTitle">{PAGE_TITLE}</div></td>
  </tr>
  <tr>
    <td align="center" class="verdanaRed11" bgcolor="#E8E8E8">{MESSAGE}</td>
  </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
		 <td align="left">
		 	<div class="GrayBorder">
				<div class="MenuTitle">
					<form method="post" action="index.php">
						<span style="font-size:12px; font-weight:normal">Search:</span>
						<input type="hidden" name="pag" value="{PAG}" />
						<input type="text" name="search_key" value="" maxLength="255" size="30" class="txtField" />
						<input type="submit" name="search" class="button" value="Search" />
					</form>
				</div>
			</div>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td height="20" bgcolor="#E8E8E8" width="122" align="center"><strong>First Name</strong></td>
			<td height="20" bgcolor="#E8E8E8" width="100" align="center"><strong>Surname</strong></td>
			<td height="20" bgcolor="#E8E8E8" width="77" align="center"><strong>User Name</strong></td>
			<td height="20" bgcolor="#E8E8E8" width="110" align="center"><strong>Patients Created Count</strong></td>
		  </tr>
	    <!-- BEGIN DYNAMIC BLOCK: member_row -->
		  <tr bgcolor="{BG_COLOR}"  onMouseOver="this.bgColor='#CCCCCC';" onMouseOut="this.bgColor='{BG_COLOR}';">
			<td height="20" align="center">{FIRST_NAME}</td>	
			<td height="20" align="center">{SURNAME}</td>	
			<td height="20" align="center">{USER}</td>	
			<td height="20" align="center">{PATIENT_COUNT}</td>
		  </tr>
	    <!-- END DYNAMIC BLOCK: member_row -->
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#E8E8E8">
    <td width="202" height="20" align="right" valign="middle">{BACKLINK}</td>
    <td width="204" height="20" align="center" valign="middle">
      <form name="pagination" method="post" action="index.php">
        {PAG_DD}
    </form></td>
    <td width="275" height="20" valign="middle">{NEXTLINK}</td>
  </tr>
</table>