
<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div class="PageTitle">{PAGE_TITLE}</div></td>
  </tr>
  <tr>
    <td align="left"><div class="GrayBorder"><div class="MenuTitle">
      <form name="search" action="index.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="pag" value="{PAGE}">
		<table width="610" border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td width="167"><strong>Switch Object Category:</strong></td>
			<td width="443">
				<select name="type" class="DDBox1" onchange="form.submit();">
				{TYPE_LIST}
				</select>
			    <input type="submit" name="search1" value="Go" class="button"></td>
		  </tr>
		</table>
      </form>
    </div> 
    </div></td>
  </tr>
  <tr>
    <td align="center" class="verdanaRed11" bgcolor="#E8E8E8">{MESSAGE}</td>
  </tr>
</table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="4" height="20" bgcolor="#E8E8E8">&nbsp;</td>
			<td width="334" height="20" bgcolor="#E8E8E8"><strong> Name </strong></td>
			<td width="206" bgcolor="#E8E8E8" class="verdanaSmall"><strong>Alias Tag</strong></td>
			<td width="76" align="center" bgcolor="#E8E8E8"><strong>Action</strong></td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td height="1" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td align="center" bgcolor="#CCCCCC"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- BEGIN DYNAMIC BLOCK: tag_row -->
		  <tr bgcolor="{BG_COLOR}"  onMouseOver="this.bgColor='#CCCCCC';" onMouseOut="this.bgColor='{BG_COLOR}';">
			<td width="4" height="20">&nbsp;</td>
			<td width="334" height="20">{NAME}</td>
			<td width="206" class="verdanaSmall">{TAG}</td>
			<td width="76" align="center" class="verdanaSmall">
			  {EDIT_LINK}
			</td>
		  </tr>
		  <tr>
			<td height="1" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
			<td align="center" bgcolor="#EEEEEE"><img src="../img/spacer.gif" height="1" width="1"></td>
		  </tr>
	    <!-- END DYNAMIC BLOCK: tag_row -->
</table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#E8E8E8">
      <td width="202" height="20" align="right" valign="middle">{BACKLINK}</td>
      <td width="204" height="20" align="center" valign="middle" class="verdanaBlackSlim11">
        <form name="pagination" method="post" action="index.php">
      		{PAG_DD}
	  	</form> </td>
      <td width="214" height="20" valign="middle">{NEXTLINK}</td>
    </tr>
</table>
