	<div id="content" class="siteContent dashboard scrolledList">
		<div id="imgLightBox" style="display:none; position: fixed;"></div>
		{MESSAGE}
		<h2 class="bottomLine"><span class="pageTitle">{T.CREATE_PLAN} /</span> {CLIENT_NAME}</h2>
		<div class="sidebar">
			<div class="greyBorderBox">
				<img src="img/exercises_top.png" class="greyBorderBoxTop">
				<div class="greyBorderBoxContent">
					<h2>{T.PLAN_PREVIEW}</h2>
					<form id="exerciseAddForm" action="index.php" method="post" onsubmit="return doSave();">
						<input type="hidden" name="act" value="client-add_exercise">
						<input type="hidden" name="pag" value="client_preview_exercise">
						<input type="hidden" name="client_id" value="{CLIENT_ID}">
						<input id="exercise_id" type="hidden" name="exercise_id" value="">
							<span id="program_list">
<ul id="sortable" class="ui-sortable">
<!-- BEGIN DYNAMIC BLOCK: selected_line -->
<li id="{S_PROGRAM_ID}">
<img alt="{S_PROGRAM_TITLE}" title="{S_PROGRAM_TITLE}" src="phpthumb/phpThumb.php?src=../{S_PROGRAM_IMAGE}&amp;wl=64&amp;hp=64">
<a id="drag_{S_PROGRAM_ID}" class="exercise_drag">&nbsp;</a>
<a id="del_{S_PROGRAM_ID}" class="exercise_del">&nbsp;</a>
<span id="title_{S_PROGRAM_ID}" class="exercise_title">{S_PROGRAM_TITLE}</span>
<span class="exercise_cat">{S_PROGRAM_CATEGORY}</span>
<a id="details_{S_PROGRAM_ID}" class="exercise_details">{T.DETAILS}</a>
<span id="text_{S_PROGRAM_ID}" class="exercise_text">{S_PROGRAM_DESCRIPTION}</span>
<div class="clearAll"></div>
</li>
<!-- END DYNAMIC BLOCK: selected_line -->
</ul>
							</span>
						{IMAGE_TYPE_CHANGE}
						<div class="buttons login"><button id="exerciseAdd" type="submit"><b>&nbsp;</b><span>{T.SAVE}</span></button></div>
					</form>
				</div>
				<img src="img/exercises_bottom.png" class="greyBorderBoxBottom">
			</div>
		</div>
		<div class="programCategoryList floatLft">
			<ul class="program_menu">
			{LIST}
			</ul>
		</div>
		<div class="programList floatLft">
			<div class="breadcrumb"><span class="buttons">{VIEW_MODE}</span>{BREADCRUMB}<div class="clearAll"></div></div>
			{NO_DATA_FOUND}
<!-- BEGIN DYNAMIC BLOCK: exercise_details_line -->
			{USER_BREAK_LINE}
			<div class="item">
				<img alt="{PROGRAM_TITLE}" src="phpthumb/phpThumb.php?src=../upload/{PROGRAM_IMAGE}&amp;wl=138&amp;hp=138">
				<div class="programText">
					<h2>{PROGRAM_TITLE}</h2>
					{PROGRAM_DESCRIPTION}
					<a href="#" id="{PROGRAM_ID}" cid="{CLIENT_ID}" class="moreBtn"><span>{T.ADD_EXERCISE}</span></a>
				</div>
				<div class="clearAll"></div>
			</div>
<!-- END DYNAMIC BLOCK: exercise_details_line -->
<!-- BEGIN DYNAMIC BLOCK: exercise_compact_line -->
			{USER_BREAK_LINE}
			<div class="itemCompact{LAST_CSS}" id="compactView_{PROGRAM_ID}">
				<div style="height:138px;"><img alt="{PROGRAM_TITLE}" src="phpthumb/phpThumb.php?src=../upload/{PROGRAM_IMAGE}&amp;wl=138&amp;hp=138"></div>
				<span class="programCompact">
				<a href="#" id="{PROGRAM_ID}" cid="{CLIENT_ID}" class="moreBtn"><span>{T.ADD_EXERCISE}</span></a>
				<a id="compactViewDetails_{PROGRAM_ID}" class="exercise_details"><span>{T.INFO}</span></a>				
				</span>
					<h2>{PROGRAM_TITLE}</h2>
				<div class="programCompactText" id="itemCompactText_{PROGRAM_ID}">
					{PROGRAM_DESCRIPTION}
				</div>
				<div class="clearAll"></div>
			</div>
			{CLEAR_BOTH}
<!-- END DYNAMIC BLOCK: exercise_compact_line -->
		</div>
		<div class="clearAll"></div>
		<a class="changeViewBtn" style="float: right; margin-right: 30px; margin-top: 25px;" href="javascript:void(0);" id="scrollToTop"><span>{T.SCROLL_TOP}</span></a>
	</div>