	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine"><span class="pageTitle">{CLIENT_NAME}</span> - Client Deleted</h2>
		<div class="sidebar">

			<div class="greyBorderBox">
				<img src="img/exercises_top.png" class="greyBorderBoxTop">
				<div class="greyBorderBoxContent">
					<h2>Client Info</h2>
					{CLIENT_NAME} deleted
				</div>
				<img src="img/exercises_bottom.png" class="greyBorderBoxBottom">
			</div>
		</div>
		<div class="clientList">
		<a class="moreBtn" href="index.php?pag=dashboard"><span>back to Dashboard</span></a>
		</div>
		<div class="clearAll"></div>
	</div>