<div id="content" class="siteContent dashboard_exercise "> 
		{MESSAGE}
  <div class="preview">
    <form action="index.php" method="post" style="width: 652px;" id="exercise_form">
      <input type="hidden" name="act" value="{ACT}" />
      <input type="hidden" name="pag" value="{PAG}" />
      <input type="hidden" name="client_id" value="{CLIENT_ID}" />
      <input type="hidden" name="exercise_id" value="{EXERCISE_ID}" />
      <input type="hidden" name="exercise_plan_id" value="{EXERCISE_PLAN_ID}">
      <input type="hidden" name="mode" value="{MODE}">
      <span class="preview_buttons"> 
			<div style="margin-left:{MARGIN_BUTTONS};">
				<a class="moreBtn" id="2" href="{ADD_EXERCISE}"><span class="curvyCorner">{LINK_TEXT_3}</span></a>
				<a class="moreBtn" id="2" href="{MAKE_MORE_CHANGES}" style="display:{VIS};background-image: none;" ><span class="curvyCorner">{LINK_MAKE MORE_CHANGES}</span></a>			
				<div class="buttons" {VISIBILITY}>
					<button type="submit"><span class="curvyCorner">{T.SAVE}</span></button>
				</div>
				<a class="moreBtn discardBtn" id="2" href={DISCARD} target="{TARGET}"><span class="curvyCorner">{LINK_TEXT}</span></a>
			</div>
			<a class="moreBtn" href="{EMAIL_URL}" style="display:{VIS}{HIDE_EMAIL};" ><span class="curvyCorner">{T.EMAIL}</span></a>
			<a class="moreBtn" href="{FINISH}" style="display:{VIS};" ><span class="curvyCorner">{T.FINISH}</span></a>
			<div class="clearAll"></div>
      </span>
	  <span class="header_infos"> 
		<div class="contact-wrapper">
	  		{THE_IMG}
	  		<table width="330" style="table-layout:fixed;float: right;">
				<tr><td width="210">{COMPANY}</td><td width="120" align="right">{PHONE}</td></tr>
				<tr><td width="210">{ADDRESS}</td><td width="120" align="right">{MOBILE}</td></tr>
				<tr><td width="210">{CITY}</td><td width="120" align="right">{FAX}</td></tr>
				<tr><td colspan="2" width="330">{POST_CODE}</td></tr>
				<tr><td colspan="2" width="330" align="right">{EMAIL}</td></tr>
				<tr><td colspan="2" width="330" align="right">{WEBSITE}</td></tr>
				<tr><td colspan="2">&nbsp;</td></tr>
			</table>
			<!--<div class="contact">
				{COMPANY}
				{ADDRESS}
				{CITY}
				{POST_CODE}
				<br>
			</div>
			<div class="tel">
				{PHONE}
				{MOBILE}
				{FAX}
				{EMAIL}
				{WEBSITE}
				<br>
			</div>-->
			<div class="clearAll"></div>
			<div class="contact1">
				{CLIENT_NAME}
			</div>
			<div class="tel">
				{CURRENT_DATE}
			</div>
			<div class="clearAll"></div>
		</div>
      </span>
      <!-- BEGIN DYNAMIC BLOCK: exercise_line -->
      <div class="exercise" id="exercise_preview_{PROGRAM_ID}"> 
      <img src="upload/{IMG}" alt="exercise image" width="256" height="256" align="left" class="displayBlock"/> 
      {EXERCISE_TITLE}
      {EXERCISE_DESC}
	  
	  <div class="spacing" {VISIBILITY}>
		<label for="sets"><b>{T.SETS}</b></label>
        <input type="text" name="sets{PROGRAM_ID}" value="{SETS}" class="input_exercise" />
		<label for="repetitions"><b>{T.REPETITIONS}</b></label>
        <input type="text" name="repetitions{PROGRAM_ID}" value="{REPETITIONS}" class="input_exercise" />
        <label for="time"><b>{T.TIME}</b></label>
        <input type="text" name="time{PROGRAM_ID}" value="{TIME}" class="input_exercise" />
        <label for="time"><b>{T.BOTH_SIDES}</b></label>
	    <input type="checkbox" name="both_sides{PROGRAM_ID}" {BOTH_SIDES} style="width:auto;"  />
	  </div>
	  <div class="spacing" {SPAN_VISIBILITY}>
	  	<label for="sets"><b>{T.SETS}</b></label>
        <span>{SETS}</span><br/>
        <label for="repetitions"><b>{T.REPETITIONS}</b></label>
        <span>{REPETITIONS}</span><br/>
        <label for="time"><b>{T.TIME}</b></label>
        <span>{TIME}</span><br/>
        <br/>
	    <span><b>{BOTH_SIDES_TEXT}</b></span>
	  </div>
	  </div>
	  
      <!-- END DYNAMIC BLOCK: exercise_line -->
	  <p>{T.NOTES}</p>
      {EXERCISE_NOTES}
    </form>
  </div>
  <div class="clearAll"></div>
  </div>
<script type="text/javascript">
	jQuery('#exercise_form').validate({
		errorClass: "error_validate"
	});
	jQuery.validator.addMethod("maxCustom", function(value, element) {
	    return this.optional(element) || (parseInt(value) <= 999);
	}, "*");	
	jQuery('.input_exercise').each(function(){
        $(this).rules("add", {
            maxCustom : true
        });
    });
    
    jQuery('.discardBtn').click(function(event){
    	if(jQuery(this).text() == 'Discard')
    	{
    		event.preventDefault();
			var url = jQuery(this).attr('href');
			jQuery.msgBox.confirm(
	            "{T.DISCARD}",
	            function(){window.location = url},
	            true,
	            {"title": "{T.SURE}","width": 200}
	        );
    	}
	});
</script>