	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine"><span class="pageTitle">{T.MY_PATIENS}</span></h2>
		<div class="sidebar">
			<div style="background: url('../img/greenHeaderTop.png') no-repeat scroll center top transparent;">
				<h2 style="padding:15px 0px 0px 45px;color: #FFFFFF;height:31px;">{T.ADD_NEW}</h2>
			</div>
			<div class="greyBorderBox" style="margin-bottom:0px;">
				<div class="greyBorderBoxContent" style="background: url('../img/exercises_middle_new.png') repeat-y scroll center top transparent; width: auto;">
					
					<form action="index.php" method="post">
						<input type="hidden" name="act" value="client-add_client">
						<input type="hidden" name="pag" value="dashboard">
						<input type="hidden" name="client_id" value="">
						
						<label class="label" for="first_name" style="margin-top:0px;">{T.FIRST_NAME}<sup>*</sup>:</label>
						<input class="textField curvyCorner" type="text" id="first_name" name="first_name" value="{FIRST_NAME}" />
							
						<label class="label" for="surname">{T.SURNAME}<sup>*</sup>:</label>
						<input class="textField curvyCorner" type="text" id="surname" name="surname" value="{SURNAME}" />
						
						<label class="label" for="appeal">Title:</label>
						<input class="textField curvyCorner" type="text" name="appeal" value="{APPEAL}">	
								
						<label class="label" for="email">{T.EMAIL}<sup>*</sup>:</label>
						<input class="textField curvyCorner" type="text" id="email" name="email" value="{EMAIL}" />	
													
						<label class="label" for="print_image_type">{T.IMAGE_TYPE}:</label>
						<select id="print_image_type curvyCorner" class="textField" name="print_image_type">
							{IMAGE_TYPE}
						</select>
						
						<div class="buttons login" style="padding-top:15px;"><button type="submit"><b style="height:31px; background-image: url('../img/green_btn_lft.png');">&nbsp;</b><span style="height:31px; background-image: url('../img/green_btn.png'); font-size:13px;">Save & Go to Patient's page<!--{T.ADD_PATIENT}--></span></button></div>
					</form>
				</div>
			</div>
			<div style="background: url('../img/greenHeaderBottom.png')  no-repeat scroll center top transparent;">&nbsp;</div>
		</div>
		<div class="filterSection">&nbsp;&nbsp;<input id="filterPatientsValue" class="curvyCorner" type="text" value="{FILTER_VALUE}" /><a class="moreBtn" id="filterPatientsUrl" href="{FILTER_LINK}"><span>Filter</span></a></div>
		<div>
			<ul class="paginate {HIDE_NAV}">
			<li class="{CSS_BACKLINK}"><a class="moreBtn" href="{BACKLINK}"><span>&lt; {T.PREV}</span></a></li>
			{PAGG}
			<li class="{CSS_NEXTLINK}"><a class="moreBtn" href="{NEXTLINK}"><span>{T.NEXT} &gt;</span></a></li>
			<li class="{CSS_LAST_LINK}"><a class="moreBtn" href="{LAST_LINK}"><span>{T.LAST}</span></a></li>
			</ul>
		</div>
		<div class="clientList">
			<div class="clientListTitle">
				<span class="add_exercise">&nbsp;</span>
				<span class="name"><a href="{ORDER_BY_NAME}">{T.NAME}&nbsp;{NAME_SORT_ARROW}</a></span>
				<span class="count">{T.N_PLANS}</span>
				<span class="dateTime"><a href="{ORDER_BY_DATE}">{T.ACC_ACTIVITY}{DATE_SORT_ARROW}</a></span>
			</div>
			<div class="clientListDynamic">
<!-- BEGIN DYNAMIC BLOCK: client_line -->
			
				<div class="clientListRow">
					<span class="add_exercise"><a title="{T.PROGRAM_ADD_TITLE}" class="add_client {SHOW_LIMIT_ERROR}" href="index.php?pag=client_add_exercise&client_id={CLIENT_ID}">&nbsp;</a></span>
					<span class="name"><a class="add_client" href="index.php?pag=client&client_id={CLIENT_ID}">{CLIENT_NAME}</a></span>
					<span class="count">{EXERCISES_NR}</span>
					<span class="dateTime">{ACTIVITY_DATE}</span>
				</div>

<!-- END DYNAMIC BLOCK: client_line -->
			</div>
<!--			<div class="paginate">
				<a class="moreBtn" href="#"><span>&lt; Previous</span></a>
				<a class="moreBtn inactive"><span>1</span></a>
				<a class="moreBtn" href="#"><span>2</span></a>
				<a class="moreBtn" href="#"><span>3</span></a>
				<a class="moreBtn" href="#"><span>4</span></a>
				<a class="moreBtn" href="#"><span>5</span></a>
				<a class="moreBtn" href="#"><span>Next &gt;</span></a>
			</div>
-->
		</div>
		<div class="clearAll"></div>
	</div>
	