<div id="content" class="faq">
	{MESSAGE}
<h2>{MAIN_CATEGORY_NAME}</h2>
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
					<!-- BEGIN DYNAMIC BLOCK: faq_short_row -->
					  <tr>
						<td height="15"><a class="faqStyle" href="#{FAQ_ID}">{QUESTION}</a></td>
					  </tr>
					<!-- END DYNAMIC BLOCK: faq_short_row -->
					</table>
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td height="20"><img src="img/spacer.gif" width="1" height="1"></td>
					  </tr>
					</table>
			<!-- BEGIN DYNAMIC BLOCK: faq_detailed_row -->
				<h2>{QUESTION}</h2>
			{ANSWER}
		<!-- END DYNAMIC BLOCK: faq_detailed_row -->
	<div class="clearAll"></div>
</div>