	<div id="content" class="siteContent login">
		{MESSAGE}
		<div class="loginForm">
			<h2>{T.I_FORGOT}</h2>
			<form action="index.php" method="post">
				<input type="hidden" name="act" value="member-forgotpass">
				<input type="hidden" name="pag" value="forgotpass">
				<div>
					<label for="username">{T.EMAIL}</label>
					<span>
						<input class="textField" type="text" id="username" name="username" value="{UNAME}" />
					</span>
				</div>
				<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>{T.REMIND}</span></button></div>
			</form>
		</div>
		<!-- div class="joinForm">
			<div class="top"></div>
			<div class="content">
				<h2>New User?</h2>
				<p>lorem ibsum porolea istamet</p>
				<form action="index.php" method="POST">
					<input type="hidden" name="act" value="member-join_now">
					<input type="hidden" name="pag" value="login">
					<input class="textField" type="text" name="join_email" value="{JOIN_MAIL}">
					<div class="buttons new_join"><button type="submit"><b>&nbsp;</b><span>Create an account</span></button></div>
				</form>
			</div>
			<div class="bottom"></div>
		</div -->
		<div class="clearAll"></div>
	</div>