	<div id="content" class="siteContent login">
		{MESSAGE}
		 <html>
	    
		<div class="loginForm">
			<h2>{T.LOGIN}</h2>
			<form action="index.php" method="post">
				<input type="hidden" name="act" value="auth-login">
				<input type="hidden" name="pag" value="login">
				<div>
					<label for="username">{T.USERNAME}</label>
					<span>
						<input class="textField curvyCorner" type="text" id="username" name="username" value="{UNAME}" />
					</span>
				</div>
				<div>
					<label for="password">{T.PASS}</label>
					<span>
						<input class="textField curvyCorner" type="password" id="password" name="password" value="" />
					</span>
				</div>
				<div class="buttons login"><a href="index.php?pag=forgotpass" class="floatRgt forgotpass"><span>{T.FORGOT}</span></a> <button type="submit"><b>&nbsp;</b><span>{T.LOGIN}</span></button></div>
				
				<div class="buttons login" style="margin-top: 20px; padding-right: 45px;"><span class="floatRgt"><input type="checkbox" name="store_login" />&nbsp;Remember Me</span> <a href="#" style="color: #0066CC; font-family: "MergeRegular"; font-size: 16px;" onclick="AddToFavorites(this, 'Rehab My Patient', 'http://www.rehabmypatient.com');">Bookmark This Page</a></div>
			</form>
			<br />
			<br />
						
		</div>
		
		
		<div class="clearAll"></div>
	</div>