	<div id="content" class="siteContent login">
		{MESSAGE}
		 <html>
	    
		<div class="loginForm">
			<h2>{T.LOGIN}</h2>
			<form action="index.php" method="post">
				<input type="hidden" name="act" value="auth-login">
				<input type="hidden" name="pag" value="login">
				<div>
					<label for="username">{T.USERNAME}</label>
					<span>
						<input class="textField curvyCorner" type="text" id="username" name="username" value="{UNAME}" />
					</span>
				</div>
				<div>
					<label for="password">{T.PASS}</label>
					<span>
						<input class="textField curvyCorner" type="password" id="password" name="password" value="" />
					</span>
				</div>
				<div class="buttons login"><a href="index.php?pag=forgotpass" class="floatRgt forgotpass"><span>{T.FORGOT}</span></a> <button type="submit"><b>&nbsp;</b><span>{T.LOGIN}</span></button></div>
				
				<div class="buttons login" style="margin-top: 20px; padding-right: 45px;"><span class="floatRgt"><input type="checkbox" name="store_login" />&nbsp;Remember Me</span> {FB_LOGIN}</div>
				<br/>
				<a href="#" style="color: #0066CC; font-family: "MergeRegular"; font-size: 16px;" onclick="AddToFavorites(this, 'Rehab My Patient', 'http://www.rehabmypatient.com');">Bookmark This Page</a>
			</form>
			<br />
			<br />
						
		</div>
		
		<div class="joinForm">
			<div class="top"></div>
			<div class="content">
				<h2>{T.NEW_USER}</h2>
				<p>{T.30_DAYS}</p>
				<form action="index.php" method="POST">
					<input type="hidden" name="act" value="member-join_now">
					<input type="hidden" name="pag" value="login">
					<label>{T.EMAIL}</label>
					<input class="textField curvyCorner" type="text" name="join_email" value="{JOIN_MAIL}">
					<label>{T.PASS}</label>
					<input class="textField curvyCorner" type="password" name="join_pass" value="">
					<label>{T.CONFIRM}</label>
					<input class="textField curvyCorner" type="password" name="join_pass_repeat" value="">
					<label>{T.LANGUAGE}</label>
					<select name="join_language" style="width:120px;display: block;">
						<option value="en">British</option>
						<option value="us">American</option>
					</select>
					<div class="buttons new_join"><button type="submit"><b>&nbsp;</b><span>{T.CREATE}</span></button></div>
				</form>
			</div>
			<div class="bottom"></div>
		</div>
		
		<div class="clearAll"></div>
	</div>