	<div id="content" class="siteContent login">
		{MESSAGE}
		 <html>
	    <!-- 
	      <div id="fb-root"></div>
	      <script>
	        window.fbAsyncInit = function() {
	          FB.init({
	            appId      : '264894086933472',
	            status     : true, 
	            cookie     : true,
	            xfbml      : true,
	            oauth      : true,
	          });
	        };
	        (function(d){
	           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	           js = d.createElement('script'); js.id = id; js.async = true;
	           js.src = "//connect.facebook.net/en_US/all.js";
	           d.getElementsByTagName('head')[0].appendChild(js);
	         }(document));
	      </script>
	      <div class="fb-login-button" scope="email,user_checkins">
	        Login with Facebook
	      </div>
	    
	    <!-- -->
		
		<div class="loginForm">
			<h2>Login to my account</h2>
			<form action="index.php" method="post">
				<input type="hidden" name="act" value="auth-login">
				<input type="hidden" name="pag" value="login">
				<div>
					<label for="username">Username</label>
					<span>
						<input class="textField" type="text" id="username" name="username" value="{UNAME}" />
					</span>
				</div>
				<div>
					<label for="password">Password</label>
					<span>
						<input class="textField" type="password" id="password" name="password" value="" />
					</span>
				</div>
				<div class="buttons login"><a href="index.php?pag=forgotpass" class="floatRgt forgotpass"><span>Forgot my password</span></a> <button type="submit"><b>&nbsp;</b><span>Login</span></button></div>
			</form>
			<br />
			<br />
			{FB_LOGIN}
			
		</div>
		
		<div class="joinForm">
			<div class="top"></div>
			<div class="content">
				<h2>New User?</h2>
				<p>30 days FREE trial</p>
				<form action="index.php" method="POST">
					<input type="hidden" name="act" value="member-join_now">
					<input type="hidden" name="pag" value="login">
					<label>Email</label>
					<input class="textField" type="text" name="join_email" value="{JOIN_MAIL}">
					<label>Password</label>
					<input class="textField" type="password" name="join_pass" value="">
					<label>Confirm Password</label>
					<input class="textField" type="password" name="join_pass_repeat" value="">
					<div class="buttons new_join"><button type="submit"><b>&nbsp;</b><span>Create an account</span></button></div>
				</form>
			</div>
			<div class="bottom"></div>
		</div>
		
		<!-- 
		
		<div id="fb-root"></div>
	      <script>
	        window.fbAsyncInit = function() {
	          FB.init({
	            appId      : '264894086933472',
	            status     : true, 
	            cookie     : true,
	            xfbml      : true,
	            oauth      : true,
	          });
	        };
	        (function(d){
	           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	           js = d.createElement('script'); js.id = id; js.async = true;
	           js.src = "//connect.facebook.net/en_US/all.js";
	           d.getElementsByTagName('head')[0].appendChild(js);
	         }(document));
	      </script>
	    <div 
	       class="fb-registration"
	        data-fields="[{'name':'name'}, {'name':'email'}]" 
	        data-redirect-uri="http://rehabmypatient.com/index.php?pag=dashboard"
	        >
	    </div>
	      
	    <!-- -->
		
		<div class="clearAll"></div>
	</div>