<div id="content" class="videoList">
	{MESSAGE}
	<h2 class="bottomLine">
		Partners
		<span class="clearAll"></span>
	</h2>
	<div>
		<p>
			Rehab My Patient has teamed up with some great organisations that work with our vision, our code, and our customer service to provide allied healthcare practitioners with a great service. 
		</p>
		<p>
			The following software programmes are built into the RMP platform, making transition quick, easy and functional. 
		</p>
		<p>
			TBC
		</p>
		<p>
			The following packages also complement our work:
			<br />
			<a href="http://www.trainingtrendz.com/sign-up/?p=5&coupon=TTREHAB"><img style="height:150px; padding:10px;" src="../img_gallery/trainingtrendz-logo.png" /></a>
			<br />
			<a href="http://www.trainingtrendz.com/sign-up/?p=5&coupon=TTREHAB">www.trainingtrendz.com</a>
		</p>
		<p>
			Training Trendz is an on-line educational website for professionals and businesses in the fitness and allied health industries.
		</p>
		<p>
			Our mission is to provide you with the latest training techniques, strategies and approaches for strength and conditioning, rehabilitation, wellness and business.
		</p>
		<p>
			<img style="height:150px; padding:10px;" src="../img_gallery/therapy-advertising.png" />
		</p>
		<p>
			Therapy Advertising is an online Therapy Clinic directory allowing you to easily search for local Physiotherapists, Osteopaths, Chiropractors, Sports Therapists and Massage Therapists via your postcode - <a href="http://therapyadvertising.com">www.therapyadvertising.com</a>. We (our team at RMP) are familiar with the directory, and have been using it for the last two or three years.
		</p>
	</div>
	<div class="clearAll"></div>
</div>