<div id="content" class="siteContent dashboard">
{MESSAGE}
<h2 class="bottomLine">
			<div style="font-size:40px; text-align:center; color:#17AE42;" class="pageTitle">Price Plans</div>
			<span class="clearAll"></span>
		</h2>
<div class="priceList">
	<div class="cornerTable" style="border:none; width:800px;"><div class="paymTableHeaderDiv" style="background: url('../img/paymTableHeaderDivBordered.png') no-repeat scroll top center transparent; display: block; float: right; height: 30px; width: 640px;"><span style="color:#FFFFFF; text-shadow: none; display: inline-block; text-align: center; padding-top:5px; height:26px; border-right:1px solid #444444; width:159px;">Trial</span><span style="color:#FFFFFF; text-shadow: none; display: inline-block; text-align: center; padding-top:5px; height:26px; border-right:1px solid #444444; width:159px;">Individual</span><span style="color:#FFFFFF; text-shadow: none; display: inline-block; text-align: center; padding-top:5px; height:26px; border-right:1px solid #444444; width:159px;">Clinic</span><span style="color:#FFFFFF; text-shadow: none; display: inline-block; text-align: center; padding-top:5px; height:26px;  width:159px;">Multi-clinic</span></div>
  <div style="clear:both;"></div>
  <div style="background: url('../img/paymTableLeftDivBordered.png') no-repeat scroll top center transparent; display: block; float: left; height: 305px; width: 162px; position: absolute;">
	<div style="color:#FFFFFF; text-shadow: none; height:28px; border-bottom: 1px solid #444444;"><div style="padding:5px;">Place logo</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:42px; border-bottom: 1px solid #444444;"><div style="padding-left:5px;">Create an Exercise Programme</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:27px; border-bottom: 1px solid #444444;"><div style="padding:5px;">Email</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:27px; border-bottom: 1px solid #444444;"><div style="padding:5px;">Photo and lineart</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:42px; border-bottom: 1px solid #444444;"><div style="padding-left:5px;">Number of users at any one time</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:28px; border-bottom: 1px solid #444444;"><div style="padding:5px;">Expiry</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:28px; border-bottom: 1px solid #444444;"><div style="padding:5px;">Cost</div></div>
	<div style="color:#FFFFFF; text-shadow: none; height:75px;"><div style="padding:25px 5px;">Choose plan</div></div>
  </div>
  <div class="pricePlanTable" style="float: right; border-right: 2px solid #444444; border-bottom: 2px solid #444444;height: 303px; width: 638px;">
  		<div style="height:28px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="display: inline-block;height: 26px;width: 26px;"></span></div><div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px;  width:158px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div></div>
			  <div style="height:42px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px; padding-top:12px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px; padding-top:12px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px; padding-top:12px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px;  width:158px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px; padding-top:12px;"></span></div></div>
			  <div style="height:27px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px;  width:158px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div></div>
			  <div style="height:27px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div>
			  <div class="priceTableHead" style="float: left; height:27px; text-align: center; padding:0px;  width:158px;"><span style="background: url('../img/tick_green_middle.png') no-repeat scroll right center transparent;display: inline-block;height: 26px;width: 26px;"></span></div></div>
			  <div style="height:42px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; padding-top:10px;font-weight: normal;">1</span></div>
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; padding-top:10px;font-weight: normal;">1</span></div>
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; padding-top:10px;font-weight: normal;">10</span></div>
			  <div class="priceTableHead" style="float: left; height:42px; text-align: center; padding:0px;  width:158px;"><span style="font-size:16px; display: block; padding-top:10px;font-weight: normal;">10+</span></div></div>
			  <div style="height:28px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">14 days</span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">1 year</span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">1 year</span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px;  width:158px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">1 year</span></div></div>
			  <div style="height:28px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">FREE</span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">&pound;137pa</span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px;">&pound;197pa</span></div>
			  <div class="priceTableHead" style="float: left; height:28px; text-align: center; padding:0px;  width:158px;"><span style="font-size:16px; display: block; font-weight: normal; margin-top:5px; margin-top:5px;">&pound;POA</span></div></div>
			  <div style="height:75px; border-bottom: 1px solid #444444;">
			  <div class="priceTableHead" style="float: left; height:75px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;">
  						<a id="submitPayment" class="moreBtn" style="width:105px; background:none;" href="http://rehabmypatient.com/index.php?pag=login">
						  <span style="font-weight: normal;margin-top:20px; padding-left:10px;height:31px; background: url('../img/green_btn.png') no-repeat scroll center top transparent;text-align:center;" class="curvyCorner">Choose plan</span>
					  	</a>
					  	</div>
					  	<div class="priceTableHead" style="float: left; height:75px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;">
						<a id="submitPayment" class="moreBtn" style="width:105px; background:none;" href="http://rehabmypatient.com/index.php?pag=login">
						  <span style="font-weight: normal;margin-top:20px; padding-left:10px;height:31px; background: url('../img/green_btn.png') no-repeat scroll center top transparent;text-align:center;" class="curvyCorner">Choose plan</span>
					  	</a>
						  
						  </div>
						  <div class="priceTableHead" style="float: left; height:75px; text-align: center; padding:0px; border-right:1px solid #444444; width:159px;">
							  <a id="submitPayment" class="moreBtn" style="width:105px; background:none;" href="http://rehabmypatient.com/index.php?pag=login">
								  <span style="font-weight: normal;margin-top:20px; padding-left:10px;height:31px; background: url('../img/green_btn.png') no-repeat scroll center top transparent;text-align:center;" class="curvyCorner">Choose plan</span>
							  	</a>
						  </div>
						  <div class="priceTableHead" style="float: left; height:75px; text-align: center; padding:0px;  width:158px;">
						  	<a id="submitPayment" class="moreBtn" style="width:105px; background:none;" href="index.php?pag=cms&p=contact_us">
							<span style="font-weight: normal;margin-top:20px; padding-left:10px;height:31px; background: url('../img/green_btn.png') no-repeat scroll center top transparent;text-align:center;" class="curvyCorner">Contact us</span>
						  	</a>
						  </div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-top:20px; text-align:center;">
		<p>
			Should you wish to pay by BACS or standing order, please <a href="mailto:support@rehabmypatient.com">contact us</a> and we will send you further instructions.
		</p>
	</div>
	</div>
	
	<div class="clearAll"></div>
</div>