	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<a class="moreBtn floatRgt" style="display:{HIDE_CHANGE_PASS};" href="index.php?pag=profile_edit_password"><span>{T.CHANGE_PASS}</span></a>
			<a class="moreBtn floatRgt" style="display:{HIDE_CHANGE_EMAIL};" href="index.php?pag=profile_edit_email"><span>{T.CHANGE_EMAIL}</span></a>
			
			<span class="pageTitle">{T.YOUR_ACCOUNT}</span>
			<span class="clearAll"></span>
		</h2>
		<div class="contactInfo floatLft">
		{HEADER_PAPER_SECTION}
		<br/>
		<br/>
		<h2>Email Settings:</h2>
		<br/>
		<form action="index.php" method="post">
		<input type="radio" name="email_set" value="0" {CHECKED_FIRST_EMAIL} />&nbsp;&nbsp;Email exercises to patient<br/>
		<input type="radio" name="email_set" value="1" {CHECKED_SECOND_EMAIL} />&nbsp;&nbsp;Email exercises to patient and clinic
		<br/>
		<br/>
		<h2>Salutation:</h2>
		<br/>
		<input type="radio" name="title_set" value="0" {CHECKED_FIRST_TITLE} />&nbsp;&nbsp;Dear (First Name)<br/>
		<input type="radio" name="title_set" value="1" {CHECKED_SECOND_TITLE} />&nbsp;&nbsp;Dear (Title Surname)
		<br/>
		<br/>
		<h2>Upload your Own Exercise:</h2>
		<a class="moreBtn" href="index.php?pag=profile_exercise_add"><span>Add Exercise</span></a>
		</div>
		<!--<div class="contactInfo floatLft">
			<h2>Contact Information</h2>
			<p><b>Company Name:</b><i>{COMPANY_NAME}</i></p>
			<p><b>First Name:</b><i>{FIRST_NAME}</i></p>
			<p><b>Surname:</b><i>{SURNAME}</i></p>
			<p><b>Address:</b><i>{ADDRESS}</i></p>
			<p><b>City:</b><i>{CITY}</i></p>
			<p><b>Post Code:</b><i>{POST_CODE}</i></p>
			<p><b>Website:</b><i>{WEBSITE}</i></p>
			<p><b>Phone:</b><i>{PHONE}</i></p>
			<p><b>Mobile:</b><i>{MOBILE}</i></p>
			
			<a class="moreBtn" href="index.php?pag=profile_edit"><span>Edit Contact Information</span></a>
		</div>-->
		<!--<div class="contactHeadedInfo floatLft">
			{HEADER_PAPER_SECTION}
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			{AFFILIATES_CODE}
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>-->
		<div class="floatLft" style="width: 460px;">
			<span style='font-size:20px; color: #3868AA; font-family: "MergeRegular"'>{T.DEFAULT}:</span><br /><br />
			
				<input type="hidden" name="act" value="member-update_profile_notes">
				<input type="hidden" name="pag" value="profile">
				<input type="hidden" name="profile_id" value="{PROFILE_ID}">			
				<textarea class="textArea" id="notes" name="exercise_notes">{EXERCISE_NOTES}</textarea>
				<label class="label" for="language">{T.LANGUAGE}:</label><br /><br />
				<select id="language" name="language" style="width:120px; display: block;">
					<option value="en" {LANG_EN}>British</option>
					<option value="us" {LANG_US}>American</option>
				</select>
				
				<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>{T.SAVE}</span></button></div>
			</form>
		</div>
		<div class="clearAll"></div>
	</div>