	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<div style="font-size:40px; text-align:center; color:#17AE42; text-shadow:#FFFFFF 1px 0px, #FFFFFF 1px 1px, #FFFFFF 0px 1px, #FFFFFF -1px 1px, #FFFFFF -1px 0px, #FFFFFF -1px -1px, #FFFFFF 0px -1px, #FFFFFF 1px -1px;" class="pageTitle">{PAGE_TITLE}</div>
			<span class="clearAll"></span>
		</h2>
		<div class="priceList">
		
			{PAYMENT_TABLE}
			
			<!--<a class="moreBtn" id="submitPayment" style=" margin-left: 70px; margin-top: 25px;" href="javascript: void(0);">
				<span>Choose plan</span>
			</a>-->
			
<!-- END DYNAMIC BLOCK: price_clinic_line -->
		</div>
		<div class="clearAll"></div>
	</div>