	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<a class="moreBtn floatRgt blueGlassBtn" style="display:{HIDE_CHANGE_PASS};" href="index.php?pag=profile_edit_password"><span class="curvyCorner">{T.CHANGE_PASS}</span></a>
			<a class="moreBtn floatRgt blueGlassBtn" style="display:{HIDE_CHANGE_EMAIL};" href="index.php?pag=profile_edit_email"><span class="curvyCorner">{T.CHANGE_EMAIL}</span></a>
			
			<span class="pageTitle">{T.YOUR_ACCOUNT}</span>
			<span class="clearAll"></span>
		</h2>
		<div class="contactInfo floatLft">
			<!--<h2>Contact Information</h2>-->
			<form action="index.php" method="post" enctype="multipart/form-data">
			<input type="hidden" name="act" value="member-update_custom_header">
			<input type="hidden" name="pag" value="{PAG}">
			
			<label class="label" for="company_name">{T.NAME}:</label>
			<input class="textField curvyCorner" type="text" id="company_name" name="company_name" value="{COMPANY_NAME}" />
			
			<label class="label" for="first_name">{T.FIRST_NAME}:</label>
			<input class="textField curvyCorner" type="text" id="first_name" name="first_name" value="{FIRST_NAME}" />
				
			<label class="label" for="surname">{T.SURNAME}:</label>
			<input class="textField curvyCorner" type="text" id="surname" name="surname" value="{SURNAME}" />
			
			<label class="label" for="address">{T.ADDRESS}:</label>
			<textarea class="textArea curvyCorner" id="address" name="address" style="height:30px;" >{ADDRESS}</textarea>
			
			<div style="display:{DISPLAY_ZIP};">
				<label class="label" for="address">State/Zip:</label>
				<input class="textField curvyCorner" type="text" id="state_zip" name="state_zip" value="{STATE_ZIP}" />
			</div>
			
			<label class="label" for="city">{T.CITY}:</label>
			<input class="textField curvyCorner" type="text" id="city" name="city" value="{CITY}" />
				
			<label class="label" for="post_code">{T.POST}:</label>
			<input class="textField curvyCorner" type="text" id="post_code" name="post_code" value="{POST_CODE}" />
					
			<label class="label" for="email">{T.EMAIL}:</label>
			<input class="textField curvyCorner" type="text" id="email" name="email" value="{EMAIL}" />
					
			<label class="label" for="website">{T.WEBSITE}:</label>
			<input class="textField curvyCorner" type="text" id="website" name="website" value="{WEBSITE}" />
					
			<label class="label" for="phone">{T.PHONE}:</label>
			<input class="textField curvyCorner" type="text" id="phone" name="phone" value="{PHONE}" />
					
			<label class="label" for="mobile">{T.MOBILE}:</label>
			<input class="textField curvyCorner" type="text" id="mobile" name="mobile" value="{MOBILE}" />
					
			<label class="label" for="fax">{T.FAX}:</label>
			<input class="textField curvyCorner" type="text" id="fax" name="fax" value="{FAX}" />
			
		</div>
		<div class="contactHeadedInfo floatLft">
			<h2>{T.PERSONALISE}</h2>
			<p>&nbsp;</p>
			<p>{T.UPLOAD}</p>
			<p>&nbsp;</p>
			<p style="color:red;">{T.HELP_PHOTO}</p>
			<p>&nbsp;</p>
			
			<div class="clearAll"></div>
						<div id="image_wrapper">
							{IMG}
						</div>
						<div style="clear:both;"></div>
						<div id="advanced_wrapper">
							<div id="advanced_popup" style="display:none;">
								<span>Resize image to:</span>
								<label for="width">Width: </label><input type="text" value="{WIDTH}" name="width"><br>
								<label for="height">Height:</label><input type="text" value="{HEIGHT}" name="height">
								<span id="resize_image">Save</span><span id="reset_size">Reset to defaults</span>
							</div>
							<div class="moreBtn blueGlassBtn" id="advanced" style=""><span class="curvyCorner" style="width:100px;text-align:center;">Advanced</span></div>
						</div>
						
						
						<label class="label">{T.TICK}</label>
						
						<label class="label" for="upload_image">{T.CHANGE_LOGO}:</label>
						<a href="{TEST_URL}" target="_blank" id="test_head">
							<div style="" id="" class="moreBtn blueGlassBtn"><span class="curvyCorner" >Test letterhead</span></div></a>
							
						<div class='browse_field'>
							<div class='input' style='position:relative;float:left;margin-right:5px;z-index:10;'>
								<div class="normal_input_field">
									<input type="text" style="width:172px;" class="curvyCorner" readonly="readonly"></div>
							</div>
						 
							<div class='submit_button' style='float: left;'>
								<div class="general_submit">
									<div style="" id="" class="moreBtn blueGlassBtn">
										<span class="curvyCorner">Browse</span>
									</div>
								</div>
							</div>
							<input type='file' class='file' id="upload_image" name="upload_image" style='z-index: 5;' />
						</div>
						
						<label class="label">{T.LOCATE_FILE}</label>
												
						<label class="label delete_image">Choose position of header image:</label><br />
						<label class="label delete_image" for="himage_position">Left side:</label>
						<input type="radio" id="himage_position" name="himage_position" value="left" {HIMAGE_POSITION_LEFT} />&nbsp;
						<label class="label delete_image" for="himage_position">Right side:</label>
						<input type="radio" id="himage_position" name="himage_position" value="right" {HIMAGE_POSITION_RIGHT} />
						
						<div class="buttons login greenGlassBtn"><button type="submit"><span class="curvyCorner" style="text-align: center;">{T.SAVE}</span></button></div>
					</form>
		</div>
		<div class="clearAll"></div>
	</div>