	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<span class="pageTitle">{T.SETUP}</span>
			<span class="clearAll"></span>
		</h2>
		<div class="contactHeadedInfo floatLft">
			<h2>{T.SETUP_ADV}</h2>
			<br/>
			<h2>{T.SINGLE_NAME}</h2>
					<form action="index.php" method="post">
						<input type="hidden" name="act" value="member-update_licence">
						<input type="hidden" name="pag" value="profile_put_address">
						<input type="hidden" name="is_clinic" value="0">
						<input class="textField curvyCorner" type="text" id="single_name" name="single_name" value="" />
						<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>{T.SAVE_SINGLE}</span></button></div>
					</form>
		</div>
		<div class="contactHeadedInfo floatLft">
			<br/>
			<br/>
			<br/>
			
			<h2>{T.CLIINIC_NAME}</h2>
					<form action="index.php" method="post">
						<input type="hidden" name="act" value="member-update_licence">
						<input type="hidden" name="pag" value="profile_put_address">
						<input type="hidden" name="is_clinic" value="1">
						
						<input class="textField curvyCorner" type="text" id="clinic_name" name="clinic_name" value="" />
								
						<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>{T.SAVE_CLINIC}</span></button></div>
					</form>
		</div>
		<div class="clearAll"></div>
	</div>