	<div id="content" class="siteContent dashboard scrolledList">
		{MESSAGE}
		<h2 class="bottomLine">
			<span class="pageTitle">Update exercise</span>
			<span class="clearAll"></span>
		</h2>

		<form action="index.php" method="post" enctype="multipart/form-data">
				<div class="addExercise floatLft">
					
						<input type="hidden" name="act" value="member-exercise_update" />
						<input type="hidden" name="pag" value="profile_exercise_update" />
						<input type="hidden" name="programs_id" value="{PROGRAMS_ID}" />
						<input type="hidden" name="image_uploaded" id="image_uploaded" value="{HAS_IMAGE}" />
						
						<h3>Exercise name</h3><br />
						<input class="textField curvyCorner" type="text" id="name" name="name" value="{name}" style="width:180px;" />&nbsp;
						
						<h3>Description</h3><br />
						<textarea class="textField curvyCorner" id="description" name="description" style="width:180px;">{description}</textarea>
						
						<h3>Category</h3><br />
						<label class="label" for="category" style="padding-right:5px;">Select category:&nbsp;</label>
						<select name="category" id="categorySelect" class="curvyCorner" style="width:150px;">
							{CAT_OPTIONS}
						</select> <br /><br />
						<label class="label" for="subcategory">and subcategory:&nbsp;</label>
						<select name="subcategory" id="subcategorySelect" class="curvyCorner" style="width:150px;">
							{SUBCAT_OPTIONS}
						</select>
						<div class="buttons login blueGlassBtn"><button type="submit"><span class="curvyCorner">Save</span></button></div>
					
		</div>
		<div class="floatLft" style="width: 460px; margin-left:40px;">
			<h3>Upload picture</h3><br />
			<div style="max-width:330px;min-height:70px;">
				<div style="float:left; margin-left: 20px; height: 100px;position: relative;">
					{PROGRAM_PHOTO}
					{PHOTO_DELETE}
				</div>
				<div style="float:left; padding-top:20px;">
					<label class="label" for="image" style="margin-right:3px;">Select image (.jpg, .jpeg, .png and .gif only):&nbsp;</label>
					<input class="fileUpload" type="file" id="upload_photo" name="image" />
				</div>
				<div style="float:left; margin-top: 20px; height: 20px;position: relative;">
					{PDF_UPLOADED}
					<!--{PDF_DELETE}-->
				</div>
				<div style="float:left; padding-top:10px;">
					<label class="label" for="image" style="margin-right:3px;">Select file to attach (.pdf only):&nbsp;</label>
					<input class="fileUpload" type="file" id="upload_pdf" name="upload_pdf" /><img id="pdfInfoImg" src="img/info.png" />
				</div>
				<div style="clear:both;"></div>
			</div>
			
		</div>
		</form>
	
		<div class="clearAll"></div>
		<div id="pdfInfo" style="display:none;">
			<div>Use this section to upload your own custom PDF forms, such as advice sheets or any other PDF document. RehabMyPatient will then attach the PDF as an image to the exercise hand-out and also copy the complete PDF file in an email to your patient.</div>
		</div>
	</div>