	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<div style="font-size:40px; text-align:center; color:#17AE42;" class="pageTitle">{PAGE_TITLE}</div>
			<span class="clearAll"></span>
		</h2>
		<div class="priceList">
		
			{PAYMENT_TABLE}
			
		</div>
		
		<div style="margin-top:20px; text-align:center;">
			<p>
				Should you wish to pay by BACS or standing order, please <a href="mailto:support@rehabmypatient.com">contact us</a> and we will send you further instructions.
			</p>
		</div>
		<div class="clearAll"></div>
	</div>