	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<span class="pageTitle">{T.SETUP}</span>
			<span class="clearAll"></span>
		</h2>
		<div class="contactInfo floatLft">
			<h2>{T.SINGLE}</h2>
					<form action="index.php" method="post">
						<input type="hidden" name="act" value="member-update_licence">
						<input type="hidden" name="pag" value="profile">
						<input type="hidden" name="is_clinic" value="0">
								
						<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>{T.SAVE_SINGLE}</span></button></div>
					</form>
		</div>
		<div class="contactHeadedInfo floatLft">
			<h2>{T.CLIINIC}</h2>
					<form action="index.php" method="post">
						<input type="hidden" name="act" value="member-update_licence">
						<input type="hidden" name="pag" value="profile">
						<input type="hidden" name="is_clinic" value="1">
						
						<label class="label" for="clinic_name">{T.CLIINIC_NAME}:</label>
						<input class="textField" type="text" id="clinic_name" name="clinic_name" value="" />
								
						<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>{T.SAVE_CLINIC}</span></button></div>
					</form>
		</div>
		<div class="clearAll"></div>
	</div>