	<div id="content" class="siteContent dashboard scrolledList">
		{MESSAGE}
		<h2 class="bottomLine">
			<span class="pageTitle">Add new exercise</span>
			<span class="clearAll"></span>
		</h2>
				<form action="index.php" method="post" enctype="multipart/form-data">
				<div class="addExercise floatLft">
					
						<input type="hidden" name="act" value="member-exercise_add">
						<input type="hidden" name="pag" value="programs_user">
						
						<h3>Exercise name</h3><br />
						<input class="textField" type="text" id="name" name="name" value="{name}" style="width:180px;" />&nbsp;
						
						<h3>Description</h3><br />
						<textarea class="textField" id="description" name="description" style="width:180px;">{description}</textarea>
						
						<h3>Category</h3><br />
						<label class="label" for="category">Select category:&nbsp;</label>
						<select name="category" id="categorySelect" style="width:150px;">
							{CAT_OPTIONS}
						</select> <br /><br />
						<label class="label" for="subcategory">and subcategory:&nbsp;</label>
						<select name="subcategory" id="subcategorySelect" style="width:150px;">
							{SUBCAT_OPTIONS}
						</select>
						<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>Save</span></button></div>
					
		</div>
		<div class="floatLft" style="width: 460px; margin-left:40px;">
			<h3>Upload picture</h3><br />
			<div style="max-width:330px;min-height:70px;">
				<div style="float:left; padding-top:20px;">
					<label class="label" for="image" style="margin-right:3px;">Select image (.jpg, .jpeg, .png and .gif only):&nbsp;</label><br/>
					<input class="fileUpload" type="file" id="upload_photo" name="image" />
				</div>
				<div style="float:right;">
				</div>
				<div style="clear:both;"></div>
			</div>
			
		</div>
		</form>
		
<!--		
		<div class="addExercise floatLft">
					<form action="index.php" method="post" enctype="multipart/form-data">
						<input type="hidden" name="act" value="member-exercise_add">
						<input type="hidden" name="pag" value="programs_user">
						
						<h3>Exercise name</h3><br />
						<label class="label" for="name_en">GB:&nbsp;</label>
						<input class="textField" type="text" id="name_en" name="name_en" value="{name_en}" style="width:180px;" />&nbsp;
						<label class="label" for="name_us">US:&nbsp;</label>
						<input class="textField" type="text" id="name_us" name="name_us" value="{name_us}" style="width:180px;" />	
						
						<h3>Description</h3><br />
						<label class="label" for="description_en">GB:&nbsp;</label>
						<textarea class="textField" id="description_en" name="description_en" style="width:180px;">{description_en}</textarea>&nbsp;
						<label class="label" for="description_us">US:&nbsp;</label>
						<textarea class="textField" id="description_us" name="description_us" style="width:180px;">{description_us}</textarea>
						
						<h3>Upload image</h3><br />
						<label class="label" for="image" style="margin-right:3px;">Select photo:&nbsp;</label>
						<input class="fileUpload" type="file" id="upload_photo" name="image" /> <br /><br />
						<label class="label" for="lineart">Select lineart:&nbsp;</label>
						<input class="fileUpload" type="file" id="upload_lineart" name="lineart" /> 
						
						<h3>Category</h3><br />
						<label class="label" for="category">Select category:&nbsp;</label>
						<select name="category" id="categorySelect" style="width:150px;">
							{CAT_OPTIONS}
						</select> &nbsp;
						<label class="label" for="subcategory">and subcategory:&nbsp;</label>
						<select name="subcategory" id="subcategorySelect" style="width:150px;">
							{SUBCAT_OPTIONS}
						</select> 
						<div class="buttons login"><button type="submit"><b>&nbsp;</b><span>Save</span></button></div>
					</form>
		</div>
-->
		<div class="clearAll"></div>
	</div>