	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<a class="moreBtn floatRgt blueGlassBtn" style="display:{HIDE_CHANGE_PASS};" href="index.php?pag=profile_edit_password"><span class="curvyCorner">{T.CHANGE_PASS}</span></a>
			<a class="moreBtn floatRgt blueGlassBtn" style="display:{HIDE_CHANGE_EMAIL};" href="index.php?pag=profile_edit_email"><span class="curvyCorner">{T.CHANGE_EMAIL}</span></a>
			
			<span class="pageTitle">{T.YOUR_ACCOUNT}</span>
			<span class="clearAll"></span>
		</h2>
		<div class="contactInfo floatLft">
		{HEADER_PAPER_SECTION}
		<br/>
		<br/>
		<h2>Email Settings:</h2>
		<br/>
		<form action="index.php" method="post">
		<input type="radio" name="email_set" value="0" {CHECKED_FIRST_EMAIL} />&nbsp;&nbsp;Email exercises to patient<br/>
		<input type="radio" name="email_set" value="1" {CHECKED_SECOND_EMAIL} />&nbsp;&nbsp;Email exercises to patient and clinic
		<br/>
		<br/>
		<h2>Salutation:</h2>
		<br/>
		<input type="radio" name="title_set" value="0" {CHECKED_FIRST_TITLE} />&nbsp;&nbsp;Dear (First Name)<br/>
		<input type="radio" name="title_set" value="1" {CHECKED_SECOND_TITLE} />&nbsp;&nbsp;Dear (Title Surname)
		<br/>
		<br/>
		<h2>Upload your Own Exercise:</h2>
		<a class="moreBtn blueGlassBtn" href="index.php?pag=profile_exercise_add"><span class="curvyCorner">Add Exercise</span></a>
		</div>
		<div class="floatLft" style="width: 460px;">
			<span style='font-size:20px; color: #3868AA; font-family: "MergeRegular"'>{T.DEFAULT}:</span><br /><br />
			
				<input type="hidden" name="act" value="member-update_profile_notes">
				<input type="hidden" name="pag" value="profile">
				<input type="hidden" name="profile_id" value="{PROFILE_ID}">			
				<textarea class="textArea curvyCorner" id="notes" name="exercise_notes">{EXERCISE_NOTES}</textarea>
				<label class="label" for="language">{T.LANGUAGE}:</label><br /><br />
				<select id="language" class="curvyCorner" name="language" style="width:120px; display: block;">
					<option value="en" {LANG_EN}>British</option>
					<option value="us" {LANG_US}>American</option>
				</select>
				
				<div class="buttons login greenGlassBtn"><button type="submit"><span class="curvyCorner" style="text-align: center; width:95px;">{T.SAVE}</span></button></div>
			</form>
		</div>
		<div class="clearAll"></div>
	</div>