	<div id="content" class="siteContent dashboard">
		{MESSAGE}
		<h2 class="bottomLine">
			<a class="moreBtn floatRgt blueGlassBtn" style="display:{HIDE_CHANGE_PASS};" href="index.php?pag=profile_edit_password"><span class="curvyCorner">{T.CHANGE_PASS}</span></a>
			<a class="moreBtn floatRgt blueGlassBtn" style="display:{HIDE_CHANGE_EMAIL};" href="index.php?pag=profile_edit_email"><span class="curvyCorner">{T.CHANGE_EMAIL}</span></a>
			
			<span class="pageTitle">{T.YOUR_ACCOUNT}</span>
			<span class="clearAll"></span>
		</h2>
		<div class="contactInfo floatLft">
			<h2>{T.CHANGE_EMAIL}</h2>
					<form action="index.php" method="post">
						<input type="hidden" name="act" value="member-update_email">
						<input type="hidden" name="pag" value="profile">
						
						<label class="label" for="email">{T.EMAIL}:</label>
						<input class="textField curvyCorner" type="text" id="email" name="email" value="{EMAIL}" />
						<div class="buttons login blueGlassBtn"><button type="submit"><span class="curvyCorner">{T.UPDATE}</span></button></div>
					</form>
		</div>
		<div class="clearAll"></div>
	</div>